

.navbar-nav{
  display: flex;
  justify-content: space-between;
  text-align: right;
  flex-wrap: wrap;
  color: #8B0000;
}

.navbar a{
  padding: 1rem;
  color: black;
  text-decoration: none;
}

.nav-brand{
  font-size: 2 rem;
  font-weight: bold;
  margin: 1 rem;
}

.navbar hover{
  background-color: #8B0000;
  color:#8B0000
}


.d-flex{
  position: absolute;
  bottom: 20%;
  right: 2%;
  font-size: 80px;
}


.d-flex h1 span{
color: #8B0000
}

.about{
  display: flex;
  padding: 50px 0;
}

.container{
  display: flex;
}
  
footer {
  background-color:rgb(234, 244, 250);
  color: black;
  text-align: center;
  padding: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2{
  text-align: center;
  align-items: center;
}
.card-flip {
  position: relative;
  perspective: 1000px;
}

.card-flip .card-inner {
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-flip:hover .card-inner {
  transform: rotateY(180deg);
}

.card-flip .card-front,
.card-flip .card-back {
  position: absolute;
  width: 50;
  height: 50%;
  backface-visibility: hidden;
}

.card-flip .card-front {
  z-index: 2;
  display: flex;
  align-items: left;
  justify-content: left;
}

.card-flip .card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: left;
  justify-content: leftt;
}

h3{
  color:#8B0000 ;
}

.p{
  display: flex;
  justify-items: right;
  align-content: right;
}

