*{
    height: fit-content;
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-wrap: wrap;
    color: #ab3f3f;
}

.navbar a{
    padding: 1rem;
    color: black;
    text-decoration: none;
}

  h2{
    text-decoration:underline #8B0000;
    padding-top: 2rem;
    padding-bottom: 3rem;
    size: 3rem;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  
  
  h5{
    color:  black;
    text-shadow: 8px 4px 2px rgb(194, 223, 227);
  }
  
  .table-row {
    border: 1px solid #000;
  }
 
  .table-col {
    padding: 10px;
    border-right: 1px solid #000;
  }
  .table-col:last-child {
    border-right: none;
  }
   
footer {
    background-color:lightskyblue;
    color: black;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }

  #headerSection .navbar{
    background-color:  rgb(194, 223, 227);
  }