h2{
  text-decoration:underline #8B0000;
  padding-top: 2rem;
  padding-bottom: 3rem;
  size: 3rem;
  justify-content: center;
  text-align: center;
  margin: auto;
}


footer {
    background-color:rgb(194, 223, 227);
    color: black;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.col {
    flex: 0 0 calc(33.333% - 20px); /* Adjust the width as needed */
    margin-bottom: 20px;
}

/* Optionally, you can set a fixed height for the cards if needed */
.card {
    height: 100%;
}


#headerSection .navbar{
    background-color:  rgb(194, 223, 227);
  }

  img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: contain;
}

h5{
  margin: auto;
  text-align: center;
}