
#headerSection .navbar{
    background-color: rgb(231, 245, 247);
    
  }
.navbar-nav{
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-wrap: wrap;
    color: #8B0000;
}
.picme {
    margin: 0% !important;
    display: block !important;
    justify-content: center !important;

}

.navbar a{
    padding: 1rem;
    color: black;
    text-decoration: none;
}

.nav-brand{
    font-size: 2 rem;
    font-weight: bold;
    margin: 1 rem;
}




.d-flex{
    position: absolute;
    bottom: 20%;
    right: 2%;
    font-size: 80px;
}
  

.d-flex h1 span{
color: #8B0000
}

.about{
    display: flex;
    padding: 50px 0;
}

.container{
    display: flex;
}

span{
    color:#8B0000
}
.row{
    transform: translateY(-10%);
}
.row a{
    text-decoration: none;
    border:2px solid;
    border-radius: 2rem;
    background-color: white;
    padding: 10px 16px;
} 

footer {
    
    background-color: rgb(194, 223, 227);
    color: black;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    position:relative;
  }
  
@media screen and (max-width: 650px) {
    .image{
        margin-top: 3rem;
    }
}

h1 {

    padding-top: 7rem;
}


.btn1 {
    display: flex;
    justify-content: center;
    padding: 30px !important;
    margin-left: 3rem;
  }
  
  
 